{#{{ form_start(form) }}
{{form_row(form.nom_lieu) }}
{{form_row(form.rue) }}
{{form_row(form.villes_no_ville) }}#}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

