{#
{{ form_start(form) }}
#}
{#    {{ form_widget(form) }}#}{#

    {{ form_row(form.pseudo) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.motDePasse) }}
    {{ form_row(form.sites_no_site) }}
    {{ form_row(form.imageFile) }}


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}

<section>
    <div class="container py-5 ">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card couleurFond h-100">
                    <div class="card-body text-center">
                        <div class="row ">

                            <div class="col-sm-12">
                                <p class=" mb-0 ">      {{ form_row(form.imageFile) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">

                        <div class="row ">

                            <div class="col-sm-12">
                                <p class=" mb-0 ">  {{ form_row(form.pseudo) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">


                        <div class="row">

                            <div class="col-sm-12">
                                <p class=" mb-0">   {{ form_row(form.nom) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">

                            <div class="col-sm-12">
                                <p class=" mb-0">  {{ form_row(form.prenom) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">

                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn btn-outline-primary ms-1">{{ button_label|default('Enregistrer') }}</button>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card mb-4 couleurFond h-100">
                    <div class="card-body">



                        <div class="row ">

                            <div class="col-sm-12">
                                <p class=" mb-0 ">   {{ form_row(form.telephone) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">

                            <div class="col-sm-12">
                                <p class=" mb-0">   {{ form_row(form.mail) }}</p>
                            </div>
                        </div>



                        <hr class="soulignage">
                        <div class="row">

                            <div class="col-sm-12">
                                <p class=" mb-0">    {{ form_row(form.motDePasse) }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">

                            <div class="col-sm-9">
                                <p class=" mb-0">     {{ form_row(form.sites_no_site) }}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('app_accueil') }}" class="  btnAffichageRetourAccueil">Retour à l'accueil </a>
</section>
