{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    {% for message in app.flashes('message') %}
        <div class="flash-info">
            {{ message }}
        </div>

    {% endfor %}

    <section >
        <div class="container py-5 mt-5">
            <div class="row">
                <div class="col">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 couleurFond">
                        <div class="card-body text-center">
                            <img src="{{ asset("img/ProfilDefault.png") }}" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3 ">{{ participant.pseudo }}</h5>


                            <div class="d-flex justify-content-center mb-2">
                                <a href="{{ path('app_participant_edit', {'id': participant.id}) }}" class="btn btn-outline-primary ms-1">Modifier </a>
                                {{ include('participant/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 couleurFond">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-sm-3">
                                    <p class="  mb-0">Nom </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0 ">{{ participant.nom }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0  ">Prenom</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">{{ participant.prenom }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">Adresse mail</p>
                                </div>
                                <div class="  col-sm-9">
                                    <p class=" mb-0">{{ participant.mail }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">Téléphone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">{{ participant.telephone }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <a href="{{ path('app_accueil') }}" class="btnAffichagePage">Retour à l'accueil </a>



{% endblock %}
