{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn couleurEcriture">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn couleurEcriture" name="publier" value="publier">{{ button_label|default('Publier') }}</button>
{{ form_end(form) }}
