<div class="container-fluid form">
    {{ form_start(form) }}
<div class=" row mt-5">
    <div class="col-4">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-8">
        {{ form_row(form.date_debut) }}
    </div>

</div>
    <div class=" row mt-2">
        <div class="col-4">
            {{ form_row(form.duree) }}
        </div>
        <div class=" col-8">
            {{ form_row(form.date_cloture) }}
        </div>

    </div>
    <div class=" row mt-2">
        <div class="col-4">
            {{ form_row(form.nb_inscriptions_max) }}
        </div>
        <div class="col-8">
            {{ form_row(form.description_infos) }}
        </div>

    </div>
    <div class=" row mt-2">
        <div class="col-4">
            {{ form_row(form.lieux_no_lieu) }}
        </div>
        <div class=" offset-3 col-5">

            <button class="btn couleurEcriture">{{ button_label|default('Enregistrer') }}</button>
            <button class="btn couleurEcriture" name="publier" value="publier">{{ button_label|default('Publier') }}</button>

        </div>
    </div>
</div>

   {{ form_end(form) }}
