{% extends 'base.html.twig' %}
{% block body %}
    <h1>Sortie: {{ sortie.nom }}</h1>

  {#  <form action="{{ path('app_sortie_annulation', {'id':sortie.id}) }}" method="post">
        <label for="motifAnnulation">Motif de l'annulation: </label><input type="text" name="motifAnnulation" id="motifAnnulation">
        <button type="submit ">Annuler la sortie</button>
    </form>#}

    <div class="container" >
{#
        <table class="table couleurEcriture">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Date_cloture</th>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Nb_inscriptions_max</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Description_infos</th>
                <td>{{ sortie.descriptionInfos }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{lieu.nomLieu }}</td>
            </tr>

            <tr>
                <th>Url_photo</th>
                <td>{{ sortie.urlPhoto }}</td>
            </tr>
            </tbody>
        </table>
    </div>#}
    <a href="{{ path('app_accueil') }}" class="btnAffichageRetourAccueil">Retour à l'accueil</a>
    <section >
        <div class="container py-5 mt-5">
            <div class="row">
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 couleurFond">
                        <div class="card-body text-center">
                            <img src="{{ asset('uploads/images/'~ sortie.urlPhoto) }}" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                             <h1>Sortie: {{ sortie.nom }}</h1>

                            {{lieu.nomLieu }}

                            <div class="d-flex justify-content-center mb-2">

                                    <form action="{{ path('app_sortie_annulation', {'id':sortie.id}) }}" method="post">
                                        <button type="submit ">Annuler la sortie</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 couleurFond">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col-sm-3">
                                    <p class="  mb-0">>Motif de l'annulation: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0 "><input type="text" name="motifAnnulation" id="motifAnnulation"></p>
                                    </form>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row ">
                                <div class="col-sm-3">
                                    <p class="  mb-0">Date_debut </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0 ">{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i') : '' }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0  ">dateCloture</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i') : '' }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">nbInscriptionsMax</p>
                                </div>
                                <div class="  col-sm-9">
                                    <p class=" mb-0">{{  sortie.nbInscriptionsMax }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">descriptionInfos</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">{{ sortie.descriptionInfos }}</p>
                                </div>
                            </div>
                            <hr class="soulignage">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">descriptionInfos</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">{{ sortie.descriptionInfos }}</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}