{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1 class="text-center">A vous de créer votre sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    </div>

    <input type="button"  value="+ " onclick=affichage() class ="btn btn-outline-primary ms-1 " id="bouton" />

    <div id="exemple"class="">

            <div class="container py-5 ">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card couleurFond h-100">
                            <div class="card-body text-center">
                                {{ form_start(formL) }}
                                <div class="row ">

                                    <div class="col-sm-12">
                                        <p class=" mb-0 ">  {{ form_row(formL.nom_lieu) }}</p>
                                    </div>
                                </div>
                                <hr class="soulignage">


                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class=" mb-0">   {{ form_row(formL.rue) }}</p>
                                    </div>
                                </div>
                                <hr class="soulignage">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <p class=" mb-0">    {{ form_row(formL.villes_no_ville) }}</p>
                                    </div>
                                </div>
                                <hr class="soulignage">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formL) }}
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-outline-primary ms-1 "id="eventPrevent" onclick="affichage()">{{ button_label|default('Save') }}</input>
            </div>

        </div>
    </div>

    <a href="{{ path('app_accueil') }}"class="btnAffichageRetourAccueil">Retour à l'accueil</a>
{% endblock %}
