{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>



    <section>
    <div class="container py-5 ">
        <div class="row">
            <div class="col">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 couleurFond">
                    <div class="card-body text-center">
                        <img src="{{ asset("img/ProfilDefault.png") }}" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3 ">{{ sortie.nom }}</h5>


                        <div class="d-flex justify-content-center mb-2">
                            <a href="{{ path('app_inscription', {'id': app.user.id,'sortie':sortie.id}) }}"class="btn btn-outline-primary ms-1">Inscription</a>
                            <a href="{{ path('app_desistement', {'id': app.user.id,'sortie':sortie.id}) }}"class="btn btn-outline-primary ms-1">Desistement</a>
{#
                            <a href="{{ path('app_participant_edit', {'id': participant.id}) }}" class="btn btn-outline-primary ms-1">Modifier mon profil</a>
#}

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4 couleurFond">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-sm-3">
                                <p class="  mb-0 fw-bold">Date et heure de la sortie </p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0 ">{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold ">Date limite d'inscription</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{  sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : ''  }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold ">Nombre de places</p>
                            </div>
                            <div class="  col-sm-9">
                                <p class=" mb-0">{{ sortie.nbInscriptionsMax }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold ">Description et info</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{ sortie.descriptionInfos }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold">Lieu </p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{ lieu.nomLieu }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">


                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold">Rue</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{ lieu.rue }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold">Ville</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{ lieu.villesNoVille.nomVille }}</p>
                            </div>
                        </div>
                        <hr class="soulignage">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bold">Code postal</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{ lieu.villesNoVille.codePostal }}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>
     {# <a href="{{ path('app_sortie_index') }}">back to list</a> #}

    {#<a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>#}


    <a href="{{ path('app_accueil') }}" class="btnAffichagePage">Retour à l'accueil</a>


{#    {{ include('sortie/_delete_form.html.twig') }}#}

    <section class="vh-100">
        <div class="container py-5 h-100">
            {% for inscrip in inscriptions %}
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                         alt="Generic placeholder image" class="img-fluid"
                                         style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">{{inscrip.participantId.nom}}</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;">{{inscrip.participantId.prenom}} {{inscrip.participantId.nom}}</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}

