{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>
<div class="container" >
    <table class="table couleurEcriture">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Date_cloture</th>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nb_inscriptions_max</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Description_infos</th>
                <td>{{ sortie.descriptionInfos }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{lieu.nomLieu }}</td>
            </tr>

            <tr>
                <th>Url_photo</th>
                <td>{{ sortie.urlPhoto }}</td>
            </tr>
        </tbody>
    </table>
</div>
     {# <a href="{{ path('app_sortie_index') }}">back to list</a> #}

    {#<a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>#}

    <a href="{{ path('app_inscription', {'id': app.user.id,'sortie':sortie.id}) }}">inscription</a>
    <a href="{{ path('app_desistement', {'id': app.user.id,'sortie':sortie.id}) }}">Desistement</a>


    {{ include('sortie/_delete_form.html.twig') }}

    <section class="vh-100">
        <div class="container py-5 h-100">
            {% for inscrip in inscriptions %}
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                         alt="Generic placeholder image" class="img-fluid"
                                         style="width: 180px; border-radius: 10px;">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">{{inscrip.participantId.nom}}</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;">{{inscrip.participantId.prenom}} {{inscrip.participantId.nom}}</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}

